body{
    margin: 0%;
    font-family: sans-serif;
}
.corps{
    width: 100%;
    height: 635px;
    background-image: url(/page/image\ page/covoiturage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.soratra{
    width: 50%;
    height: 635px;
    background-color: rgba(114, 133, 118, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.H1srtr{
    margin-top: 90px;
    color: white;
}
.psrtr{
    color: white ;
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 50px
}
.H3srtr{
    margin-top: 30px;
    color: white;
}
.ligne1{
    width: 69%;
    height: 2px;
    background-color: #367969;
}
.ligne2{
    width: 69%;
    height: 2px;
    background-color: #367969;
}
form{
    width: 50%;
    height: 635px;
    background-color: rgba(114, 133, 118, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h2frm{
    color: white;
}
.IpDIV{
    width: 70%;
    height: 510px ;
    background-color:rgba(140, 161, 144, 0.87);
    border-radius: 20px;
}
input{
    width: 95%;
    height: 20px;
    border-radius: 8px;
    border-top: none;
    outline: none;
}
.BT1{
    width: 30%;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #367969;
    color: rgb(229, 229, 231);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 160px;
    transition: transform 0.3s;
}
.BT1:hover{
    background-color: #366945;
    transform: scale(1.02);
}
.Or{
    color: rgb(229, 229, 231);
    margin-left: 225px;
}
.BT2{
    width: 30%;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #367969 ;
    color: rgb(229, 229, 231);
    border-radius: 5px;
    margin-left: 160px;
    transition: transform 0.3s;
}
.BT2:hover{
    background-color: #366945;
    transform: scale(1.02);
}
.PForm{
    color: white;
    font-size: 16px;
}
