body{
    margin: 0%;
    font-family: sans-serif;
}
form{
    width: 50%;
    height: 635px;
    background-color: rgba(72, 72, 95, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 95%;
    height: 20px;
    border-radius: 8px;
    border-top: none;
    outline: none;
}
.corps{
    width: 100%;
    height: 635px;
    background-image: url(/page/image\ page/covoiturage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.form2{
    width: 50%;
    height: 635px;
    background-color: rgba(114, 133, 118, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.IpDIV2{
    width: 70%;
    height: 500px ;
    background-color: rgba(140, 161, 144, 0.87);
    border-radius: 20px;
}
.h2frm2{
    color: white;
}
.h2frm21{
    color: white;
    margin-top: 61px;
}
.pform2{
    color: white;
    font-size: 16px;
}
.BT3{
    width: 30%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color: #367969 ;
    color: rgb(229, 229, 231);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 160px;
    transition: transform 0.3s;
}
.BT3:hover{
    background-color: #366945;
    transform: scale(1.02);
}
.Or2{
    color: rgb(229, 229, 231);
    margin-left: 225px;
}
.BT4{
    display: block;
    width: 30%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #367969 ;
    color: rgb(229, 229, 231);
    border-radius: 5px;
    margin-left: 160px;
    transition: transform 0.3s;
}
.BT4:hover{
    background-color: #366945;
    transform: scale(1.02);
}
.DVNom{
    width: 100%;
    height: 30px;
    background-color: rgb(31, 31, 59);
    margin-top: 25px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}
.By{
    width: 10%;
    height: 30px;
    background-color:   rgb(72, 72, 95) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 17px;
    position: absolute;
    z-index: 1;
}

.soratra2{
    width: 50%;
    height: 635px;
    background-color: rgba(114, 133, 118, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.H1srtr2{
    margin-top: 70px;
    color: white;
}
.ligne3{
    width: 79%;
    height: 2px;
    background-color: #367969;
}
.psrtr2{
    color: white;
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 50px 
}
.ligne4{
    width: 79%;
    height: 2px;
    background-color: #367969;
}
.H3srtr2{
    margin-top: 30px;
    color: white;
}